<%= render "layouts/admin_header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="row mt-5">
                <h1>サ活投稿詳細</h1>
                <p>ユーザーの投稿を確認することができます。</p>
                <p>ここから削除することが可能です。削除する際はよく確認してください。</p>
            </div>
        </div>
    </div>
</div>