<p><%= @resource.name %>様、サウナ探検隊をご利用いただきありがとうございます。</p>

<%if @resource.try(:unconfirmed_email?)%>
    <p>以下のURLをクリックして、メールアドレス変更手続きを完了してください。</p>
    <p>You can confirm your account email through the link below:</p>
    <p><%= link_to 'メールアドレスを変更する', confirmation_url(@resource, confirmation_token: @token) %></p>
<%else%>
    <p>新規登録が完了しました。サウナ活動を記録して自分にあった入り方を見つけてください!</p>
    <p class="mt-5 fs-5"><b>注意！</b></p>
    <p>このメールに返信しても回答はできません。お問い合わせの際は、<br/>
    <%= link_to "こちら", root_path%>フッター問い合わせからお願いいたします。</p>
<%end%>

<div class="mt-5">
    <p>|-------------------------------------------------|</p>
    
    <p>サウナ探検隊</p>
    <%=link_to "サウナ探検隊へ遷移します", root_path%>

    <p>管理者</p>
    <a class="" href="https://hitori-times.com/">ひとりの時間</a>

    <p>|-------------------------------------------------|</p>
</div>