<p>こんにちは！ <%= @resource.email %>さん</p>

<p>パスワードの変更に成功しました！おめでとうございます.</p>
<p>サウナ活動を楽しみましょう！</p>

<div class="mt-5">
    <p>|-------------------------------------------------|</p>
    
    <p>サウナ探検隊</p>
    <%=link_to "サウナ探検隊へ遷移します", root_path%>

    <p>管理者</p>
    <a class="" href="https://hitori-times.com/">ひとりの時間</a>

    <p>|-------------------------------------------------|</p>
</div>