<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>こんにちは！ <%= @resource.email %>さん</p>

    <p>パスワードの変更に成功しました！おめでとうございます.</p>
    <p>サウナ活動を楽しみましょう！</p>

    <div class="mt-5">
        <p>|-------------------------------------------------|</p>
        
        <p>サウナ探検隊</p>
        <a class="" href="https://sauna-tankentai.daiki-portfolio.site/">サウナ探検隊へ遷移します</a>
        
        <p>管理者</p>
        <a class="" href="https://hitori-times.com/">ひとりの時間</a>

        <p>|-------------------------------------------------|</p>
    </div>
  </body>
</html>