<p>こんにちは！ <%= @resource.email %>さん</p>

<p>誰かが「サウナ探検隊」パスワードの変更を要求しています. もし、その誰かがあなたであれば以下のリンクから変更が可能です.</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このメールに心当たりがない場合は<strong>無視</strong>してください.</p>
<p>あなたが上部のリンクからパスワードを再設定しない限り、何かが変わることはありません.</p>

<div class="mt-5">
    <p>|-------------------------------------------------|</p>
    
    <p>サウナ探検隊</p>
    <%=link_to "サウナ探検隊へ遷移します", root_path%>

    <p>管理者</p>
    <a class="" href="https://hitori-times.com/">ひとりの時間</a>

    <p>|-------------------------------------------------|</p>
</div>