<p>こんにちは！ <%= @resource.email %>さん</p>

<p>アカウントのログインに何回も失敗してしまいましたか？あなたのアカウントはロックされました.</p>

<p>安心してください！以下のリンクからあなたのアカウントを復活させることができます.</p>

<p><%= link_to 'アカウントの復活', unlock_url(@resource, unlock_token: @token) %></p>
