<%=render "layouts/header"%>

<div class="container">
    <div class="row mt-5">
        <div class="col-10 offset-1">
            <h1 class="pb-4">プライバシーポリシー</h1>

            <h3 class="pb-3">個人情報の利用目的</h3>

            <p>当サイトでは、新規登録またはログインの際、名前(ニックネーム)やメールアドレス等の個人情報を入力いただく場合がございます。<br>
            取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
        </div>
    </div>
</div>