<%= render "layouts/header"%>

<div class="wrapper g-0">
<div class="container">
    <div class="row z-3  d-flex justify-content-center">
        <div class="col-11 top-white-container">
            <div class="base">
                <div class="under">
                    <div class="top-pic-box"><%=image_tag 'site_logo.png', class: "top-pic"%></div>
                    <h1 class="text-center">サウナ探検隊へようこそ！</h1>
                </div>

            </div>
            <div class="row over">
                <h2 class="text-center">このサイトについて</h2>
                <ul class="text-center">
                    <li class="">
                        <h5>サウナ探検隊はサウナに入ったことを記録するアプリです</h5>
                        <i class="one-of-threeIcon fa-regular fa-pen-to-square fa-lg" style="color: #FFD43B;"></i>
                    </li>
                    <li class="mt-4">
                        <h5>シンプルなサイトデザインだから、誰でも簡単に使えます</h5>
                        <i class="one-of-threeIcon fa-solid fa-user-check fa-lg" style="color: #FFD43B;"></i>
                    </li>
                    <li class="mt-4">
                        <h5>サウナ活動を振り返り、最高のサウナライフにしませんか？</h5>
                        <i class="one-of-threeIcon fa-regular fa-heart fa-lg" style="color: #FFD43B;"></i>
                    </li>
                <ul>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <h3 class="text-center pb-3">サウナ大好きな人集合！</h3>
                <ul class="col-10">
                    <li class="mt-2 fs-5">始めるのは簡単! 新規登録をすれば<strong>すぐに</strong>始められます</li>
                    <li class="mt-2 fs-5">他のサウナー達がどんなサウナに入っているのかを確認できます。自分の知らなかったサウナが知れるかも！？</li>
                </ul>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-10">
                    <h3 class="text-center pb-3">何を記録するの？</h3>
                    <p class="pt-2 fs-5">サウナ活動を通じて感じたこと、気付いたことなど自由に記述してOK！</p>
                    <div class="mt-2">
                        <p class="fs-5">例えば...</p>
                        <p class="fs-5">今日は〇〇サウナに行ってきた。心地の良い風が吹いていて最高の外気浴になった。</p>
                        <p class="fs-5">サウナ8分、水風呂1分、休憩10分の3セット。いつもに比べてサウナの時間が短かった。</p>
                        <p>...</p>
                    </div>
                    <p class="fs-5">自分だけのサウナ日記を作り上げよう！</p>
                </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <h3 class="text-center pb-3">でも記録するのって面倒<i class="ps-2 fa-regular fa-face-grin-beam-sweat fa-lg" style="color: #0d6ea0;"></i></h3>
                <div class="col-10">
                    <p class="pt-2 fs-5">その心配は要りません。</p>
                    <p class="fs-5">直感的な操作とシンプルなデザインは記録することを面倒に感じさせません。最短約30秒で記録できるため長く続けられます！<p>
                    <p class="fs-5">複雑な機能はないため、パソコンが苦手な方でも大丈夫！</p>
                </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-10">
                    <h3 class="text-center pb-3">ただいまの登録済みサウナ数</h3>
                    <p class="fs-3 pt-1 text-center">現在　<%=@saunas.count%>種類</p>
                    <p class="fs-5">
                    サウナデータベースを作り上げたい！そのためにも全国のサウナーの方々、情報提供をお願いします。</p>
                    <p class="text-end">By 製作者Daiki</p>
                </div>
            </div>

            <div class="row mt-5 d-flex justify-content-center">
                <h3 class="text-center pb-3">あなたは、サウナ探検隊の一員ですか？</h3>
                <div class="col-auto mt-2">
                    <%if user_signed_in? %>
                        <h5>はい。探検隊のメンバーです。</h5>
                        <p class="fs-5 pt-1">ログイン済みです。サウナに行きましょう！</p>
                    <%else%>
                        <h5>いいえ。探検隊のメンバーではありません。</h5>
                        <p class="fs-5 pt-1">探検隊のメンバーになりたい場合は<%=link_to "こちら", new_user_registration_path%></p>
                    <%end%>   
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<script>
    $(function(){
        $("footer.mt-5").removeClass("mt-5");
    });
</script>