<%= render "layouts/header"%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h1>サウナ活動を記録してみませんか？</h1></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h2>このサイトについて</h2></div>
    </div>

    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <ul>
                <li class="fs-5"><span class="fw-semibold">さうな探検隊</span>はサウナに入ったことを記録するアプリです。</li>
                <li class="mt-2 fs-5">シンプルなサイトデザインだから、誰でも簡単に使えます。</li>
                <li class="mt-2 fs-5">サウナ活動を振り返り、最高のサウナライフにしませんか？</li>
            <ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h2>サウナ大好きな人集合！</h2></div>
    </div>
</div>