<%= render "layouts/header"%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h1>サウナ活動を記録してみませんか？</h1></div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"><h2>このサイトについて</h2></div>
    </div>

    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <ul>
                <li class="fs-5"><span class="fw-semibold">さうな探検隊</span>はサウナに入ったことを記録するアプリです。</li>
                <li class="mt-2 fs-5">シンプルなサイトデザインだから、誰でも簡単に使えます。</li>
                <li class="mt-2 fs-5">サウナ活動を振り返り、最高のサウナライフにしませんか？</li>
            <ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="row mb-3"><h2>サウナ大好きな人集合！</h2></div>
            <p class="fs-5">始めるのは簡単!<br><br>
            新規登録をすれば<strong>すぐに</strong>始められます。<br>
            <br>
            他のサウナー達がどんなサウナに入っているのかを確認できます。自分の知らなかったサウナが知れるかも！？
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-11"> 
            <div class="row">
                <div class="col-md-8">
                    <h2 class="">ただいまの登録済みサウナ数</h2>
                    <p class="fs-1 ps-5"><%=@saunas.count%>種類
                        <%if @saunas.count <= 30%>
                            🥺
                        <%else%>
                            😀
                        <%end%>
                    </p>
                    <p class="fs-5 text-nowrap">
                    サウナデータベースを作り上げたい！そのためにも全国のサウナーの方々、情報提供をお願いします。
                    </p>
                    <p class="text-end">By 製作者Daiki</p>
                </div>
            </div>

            <div class="row mt-4">
                <h2>さうな探検隊の一員ですか？</h2>
                <div class="col-md-6 mt-4">
                    <%if user_signed_in? %>
                        <h3>はい。探検隊のメンバーです。</h3>
                        <div class="mt-3">
                            <p class="fs-3">ログイン済みです。サウナに行きましょう！</p>
                        </div>
                    <%else%>
                        <h3>いいえ。探検隊のメンバーではありません。</h3>
                        <p class="fs-3">探検隊のメンバーになりたい場合は<%=link_to "こちら", new_user_registration_path%></p>
                        <div class=""></div>
                    <%end%>
                    
                </div>
            </div>

        </div>
    </div>
</div>