<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-11">
            <div class="row mt-5"><h1>サウナ活動の投稿</h1></div>

            <div class="row mt-5">
                <%= form_with model: @tweet do |f| %>
                    <div class="col-md-5">
                        <h4></h4>
                    </div>
                <%end%>
            </div>
        
        </div>


    </div>
</div>