<%= render "layouts/header"%>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>

        </div class="col-md-11">
            <div class="row mt-5">
                <h1>This is Show</h1>
            </div>

        </div> 

    </div>
</div>