<%= render "layouts/header"%>

<div class="container" style="height: 600px;">
    <div class="row mt-5">
        <h1 class="text-center">404</h1>
        <p class="text-center">指定されたページが見つかりませんでした</p>
    </div>

    <div class="row mt-3">
        <p class="text-center">アクセスしていただいたページは、削除もしくは移動した可能性があります。</p>
    </div>

    <div class="row mt-3">
        <%= link_to "トップページ", root_path, class: "text-center"%>
    </div>
</div>