<%= render "layouts/header"%>

<div class="container" style="height: 600px;">
    <div class="row mt-5">
        <h1 class="text-center">500</h1>
        <p class="text-center">アクセスしたページが開けませんでした</p>
    </div>

    <div class="row mt-3">
        <p class="text-center">大変申し訳ございません。まもなく復旧いたします。</p>
    </div>

    <div class="row mt-3">
        <%= link_to "トップページ", root_path, class: "text-center"%>
    </div>
</div>