@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import "sauna_tweet";

$light-secondary: #f5f6f6;

/*----------共通CSS-----------------*/
* { font-family: "Noto Sans JP", sans-serif; }
a {
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
footer{
    background-color: rgb(248, 249, 250);
    padding: 40px;
}
/*-------------------------------------------*/

/*--------------toppage----------------------*/
.wrapper{
    background-color: $light-secondary;
    width: 100%;
    height: auto;
}
.under{
    position: sticky;
    top: 0;
    height: 100vh;
}
.base{height: 200vh;}
.over{
    margin-top: -100vh;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: image-url('plant_room.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.white-above-over{
    height: 100%;
    width: 100%;
    padding: 80px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
.top-white-container{
    background-color: white;
    border-radius: 15px;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 30px 0;
}
.top-pic{
    width: 100%;
    height: 100%;
}
.top-pic-box{
    width: 45vh;
    height: 50vh;
    margin: 5vh auto;
    margin-bottom: 0;
    padding-top: 5vh;
}
.one-of-threeIcon{
    font-size: 40px;
}
.mt-vh-15{
    margin-top: 15vh;
}
/*----------------------------------------*/

/*---------sign in and sign up---------------------*/
.log-in-box{
    border: solid #dee2e6 1px;
    border-radius: 15px;
    padding: 50px 0;
    margin: 60px 0;
}
.registration-box{
    border: solid #dee2e6 1px;
    border-radius: 15px;
    padding: 50px 30px;
    margin: 60px 0;
}
/*-----------------------------------------*/

.bg-light-secondary{background-color: $light-secondary;}
.user-info{
    background-image: image-url('sauna_top.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
}
.user-info::after{
    background-color: rgba(160, 158, 158, 0.4);
    height: auto;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.position-relative{
    position: relative;
}
//userへの挨拶用css
.user-info-text0{
    position: relative;
    z-index: 1;
    color: #000;
}
.user-info-text{
    position: relative;
    z-index: 1;
    color: #000;
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 10px;
}
.header_btn{
    background: rgb(13, 110, 253);
    border-radius:10px;
}
.pagination {
    justify-content: center;
}
.three-card-box{
    height: 200px;
    border-radius: 10px;
}
.three-card-text{
    position: relative;
    line-height: 200px;
    z-index: 1;
}
.write-sauna{
    background-image: image-url('key_111.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.write-sauna::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.search{
    background-image: image-url('sauna_top.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.search::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.looking{
    background-image: image-url('rice_miso.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.looking::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}