/*
 * which will include all the files listed below.

 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
 @import "sauna_tweet";

 $light-secondary: #f5f6f6;

* { font-family: "Noto Sans JP", sans-serif; }
a {
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.wrapper{
    background-color: #0073ff48;
    width: 100%;
    height: auto;
}
.top-pic{
    width: 25vw;
    height: 25vw;
    margin: 0 auto;
}
.bg-light-secondary{background-color: $light-secondary;}
.user-info{
    background-image: image-url('sauna_top.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: relative;
}
.user-info::after{
    background-color: rgba(160, 158, 158, 0.4);
    height: auto;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.position-relative{
    position: relative;
}
//userへの挨拶用css
.user-info-text0{
    position: relative;
    z-index: 1;
    color: #000;
}
.user-info-text{
    position: relative;
    z-index: 1;
    color: #000;
    background-color: rgba(230, 230, 230, 0.4);
    border-radius: 10px;
}
.header_btn{
    background: rgb(13, 110, 253);
    border-radius:10px;
}
.pagination {
    justify-content: center;
}
.three-card-box{
    height: 200px;
    border-radius: 10px;
}
.three-card-text{
    position: relative;
    line-height: 200px;
    z-index: 1;
}
.write-sauna{
    background-image: image-url('key_111.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.write-sauna::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.search{
    background-image: image-url('sauna_top.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.search::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}
.looking{
    background-image: image-url('rice_miso.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
.looking::after{
    background-color: rgba(13, 110, 160, 0.7);
    height: 200px;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
}