<div class="row text-center"><h3>今すぐ始めよう！</h3></div>
<div class="row justify-content-center mt-4">
    <%=link_to new_tweet_path, class:"col-md-3 write-sauna three-card-box me-md-3 me-lg-4 text-bg-primary" do%>
        <div class="text-center">
            <p class="fs-5 three-card-text">サウナ活動を記録する</p>
        </div>
    <%end%>
    <%=link_to saunas_path, class:"col-md-3 search three-card-box mx-md-3 mx-lg-5 mt-md-0 mt-3 text-bg-primary" do%>
        <div class="text-center">
            <p class="fs-5 three-card-text">サウナ施設を調べる</p>
        </div>
    <%end%>
    <%=link_to tweets_path, class:"col-md-3 looking three-card-box ms-md-3 ms-lg-4 mt-md-0 mt-3 text-bg-primary" do%>
        <div class="text-center">
            <p class="fs-5 three-card-text">みんなの投稿を見る</p>
        </div>
    <%end%>
</div>